PORT=8080
merchant_id=
XSOLLA_PROJECT_ID=
XSOLLA_API_KEY=
XSOLLA_WEBHOOK_SECRET_KEY=
XSOLLA_SANDBOX=true
XSOLLA_RETURN_URL=

VITE_XSOLLA_CLIENT_ID=
VITE_XSOLLA_LOGIN_ID=
VITE_XSOLLA_RETURN_URL=

DB_USER=catAdmin
DB_PASSWORD=password
DB_NAME=purrCaseInventory
DB_PORT=5432
